<?php
        // *******************************************
        // *** Database configuration (important!) ***
        // *******************************************

        define('DB_TYPE', 'mysql');
        define('DB_HOST', 'localhost');
	    define('DB_USER', '{{ ttrss_db_user }}');
	    define('DB_NAME', '{{ ttrss_db_name }}');
	    define('DB_PASS', '{{ ttrss_db_password }}');
        define('DB_PORT', '3306');

        // *****************************
        // *** General ***
        // *****************************

		
        define('MYSQL_CHARSET', 'UTF8');
        define('SELF_URL_PATH', '{{ ttrss_self_url }}');
        define('FEED_CRYPT_KEY', '');
        define('SINGLE_USER_MODE', false);
        define('SIMPLE_UPDATE_MODE', false);

        // *****************************
        // *** Files and directories ***
        // *****************************

        define('PHP_EXECUTABLE', '/usr/bin/php');
        define('LOCK_DIRECTORY', 'lock');
        define('CACHE_DIR', 'cache');
        define('ICONS_DIR', "feed-icons");
        define('ICONS_URL', "feed-icons");

        // **********************
        // *** Authentication ***
        // **********************

        define('AUTH_AUTO_CREATE', true);
        define('AUTH_AUTO_LOGIN', true);

        // *********************
        // *** Feed settings ***
        // *********************

        define('FORCE_ARTICLE_PURGE', 0);

        // *** PubSubHubbub settings ***

        define('PUBSUBHUBBUB_HUB', '');
        define('PUBSUBHUBBUB_ENABLED', false);

        // ****************************
        // *** Sphinx search plugin ***
        // ****************************

        define('SPHINX_SERVER', 'localhost:9312');
        // Hostname:port combination for the Sphinx server.

        define('SPHINX_INDEX', 'ttrss, delta');

        // ***********************************
        // *** Self-registrations by users ***
        // ***********************************

        define('ENABLE_REGISTRATION', false);
        define('REG_NOTIFY_ADDRESS', 'user@your.domain.dom');

        define('REG_MAX_USERS', 1);

        // **********************************
        // *** Cookies and login sessions ***
        // **********************************

        define('SESSION_COOKIE_LIFETIME', 0);

        // *********************************
        // *** Email and digest settings ***
        // *********************************

        define('SMTP_FROM_NAME', 'Tiny Tiny RSS');
        define('SMTP_FROM_ADDRESS', 'noreply@your.domain.dom');
        define('DIGEST_SUBJECT', '[tt-rss] New headlines for last 24 hours');

        define('SMTP_SERVER', '');
        define('SMTP_LOGIN', '');
        define('SMTP_PASSWORD', '');
        define('SMTP_SECURE', '');

        // ***************************************
        // *** Other settings (less important) ***
        // ***************************************

        define('CHECK_FOR_UPDATES', true);
        define('ENABLE_GZIP_OUTPUT', {{ ttrss_enable_gzip}});
        define('PLUGINS', 'auth_internal, note, auth_remote');
        define('LOG_DESTINATION', '{{ ttrss_log_destination }}');
        define('CONFIG_VERSION', 26);